
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items:center;
    justify-content: space-around;
    overflow: hidden;
    background: rgb(94, 93, 93);
    position: fixed;
    top: 0;
    width: 100%;
}
.menu{
    flex-grow:1;
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    top: 0;

}
.h{
    display:flex;
    justify-content: center;
    position: relative;
    margin-top: 10%;
    
}
.h1{
    flex-grow:1;
    font-size: 44px;
}

.produkter{
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    height: auto;
    margin-top: 150px;
    margin-left: 2%;
    
}


.img_wrap:hover .overlay {
    opacity: 1;
}


.product{
    max-width: 100%;
    height: auto;
    display: block;
}

.overlay{
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  width: 10%;
  border-radius: 10px;
  margin-left:2%;
}

.contacts{
    width: 100%;
    height: auto;
}

.about{
    width: 70%;
    height: auto;

}

.cart{
    width: 50%;
    height: auto;
}

    



