
*{
    margin: 0px; /* Ändrar standard värdena så inget plötsligt kan hända sedan*/
    padding: 0px;
    border: 0px;
    font-family: 'Poppins';
    overflow-x: hidden; /*Gömmer x-axeln*/
    box-sizing: border-box;
}

.navbar{
    display: flex;/*Flexboxar menyn*/
    align-items:center;
    justify-content: space-around;
    overflow: hidden;
    background: rgb(94, 93, 93);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;/*Så att allt ska hamna i rätt ordning*/
}

.menu{
    flex-grow:2%; 
    float: left;
    display: block;
    color: #d0d0c2;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    top: 0;
    font-weight: 500;

}

.menu:hover{
    background-color: white;/*Så att man kan hovra*/
    border-radius: 12px;/*rundar av kanter*/
}

.middleh1{
    display: flex;/*flexboxar igen*/
    justify-content: center;    
}
.hero-heading { /*För h1 taggen*/
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    width: auto;
    height: 150px;
    color:#d0d0c2;
    margin-top: 25%;
    z-index: 2;
    text-decoration: none;

}
.hero-heading-center{
    flex-grow: 2%;
}
.hero-heading + .hero-heading{
    margin-left: 2%; /*responsiv*/
}

.middleh2{/*Den andra rubriken*/
    display: flex; 
    justify-content: center;
}
.heading2{/*flexar också för att få denna i mitten*/
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    color:#d0d0c2;
    margin-top: 20%;
    z-index: 9;
    text-decoration: none;
    overflow: hidden;
}
.headingh2-center{
    flex-grow: 2%;
}
.slider{
    overflow: hidden;
}
.figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;/*scroll effekten för animation*/
}
.imgslider{
    width:20%;
    float: left;
}

@keyframes slider{/* rätt basic grejer här med keyframes*/
    0% {
        left:0 
    }
    20% {
        left:0 /*för att få slide effekten från första till andra
    }
    25% {
        left: -100%;/*efter 5 sekunder vilket är 25% av 20 byter den genom att flytta*/
    }
    45% {
        left: -100% /*för att sedan få den där känslan att den byter lite i taget kör jag 45%*/
    }
    50% {
        left: -200%; /*sedan ny bild*/
    }
    70% {
        left:-200%
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}



.produkter{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    height: auto;
    
}
.img_wrap{
    padding-bottom: 10px;
}

.img_wrap:hover .overlay { /*gör så att jag får den där hover effekten med text*/
    opacity: 1;
    margin-left: 2%;
    margin-bottom: 3%;
}


.product{
    max-width: 100%;
    height: auto;
    display: block;
}

.overlay{/*specifierar hur den ska se ut*/
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  width: 11%;
  border-radius: 10px;
}

.contacts{/*bilderna var olika stora vilket medförde att jag fick ändra lite, drf det inte heller ser helt nice ut, good enough*/
    width: 100%;
    height: auto;
}

.about{
    width: 70%;
    height: auto;

}

.cart{
    width: 50%;
    height: auto;   
}

.footer{/*Gör så att jag kan få footern i mitten*/
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer-text{
    flex-grow: 2%;
    background: #d0d0c2;
    height:60px;
    bottom:0px;
    padding-top:20px;
    width: 100%;
    left:0px;
}
